.two-columns-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.two-columns-grid > div {
  padding: 5px;
}

.star {
  color: #FF4081;
}

.se-character th, td {
  border-bottom: 0px!important;
}